<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>

    <div class="gallery">

        {% for name in names %}

        <a target="_blank" href="big/{{ name }}"><img class="gallery_img" src="small/{{ name }}" alt="{{ name }}"></a>

        {% endfor %}
            
    </div>

</body>
</html>